*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background-color: var(--backgroundColor);
}

:root {
  /* colors */
  --primary-100: #e6f0ff;
  --primary-200: #b4d3fe;
  --primary-300: #82b6fd;
  --primary-400: #5098fc;
  --primary-500: #03449d;
  --primary-600: #034caf;
  --primary-700: #02367d;
  --primary-800: #01214b;
  --primary-900: #000b19;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-200);
  --textColor: var(--grey-900);
  --borderRadius: 1rem;
  --letterSpacing: 1px;
  --transition: 0.2s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/*Search*/

.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;

  background-color: var(--grey-900);
}

.search__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: var(--view-width);
  max-width: var(--max-width);
}

.search__input {
  padding: 0.625rem;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-style: italic;

  border: 1px solid transparent;
  border-radius: 5px 0 0 5px;
  background-color: var(--backgroundColor);

  transition: background-color 0.2s ease;
}

.search__input:hover,
.search__input:focus {
  border: 1px solid transparent;
  outline: none;
  background-color: var(--white);
}

.btn {
  border: none;
  padding: 0.625rem;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.search__btn {
  background-color: var(--white);
  color: var(--grey-700);
}

.search__btn:hover {
  font-style: italic;
}

.search__btn_random {
  border-radius: 0 5px 5px 0;
  background-color: var(--green-light);
}

/*Meals*/

.loading {
  font-weight: 400;
  font-style: italic;
}

.section,
.section-center {
  padding: 3rem 0;
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.section-center {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 600px) {
  .section-center {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.meal {
  background-color: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  transition: 0.1s ease;
}

.meal:hover {
  box-shadow: var(--shadow-4);
  font-style: italic;
}

.meal__image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
}

.meal__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
  padding: 1rem 1.5rem;
}

.meal__title {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
}

.meal__like-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/*Modal*/

.modal__overlay {
  display: grid;
  place-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);

  transition: var(--transition);
  z-index: 100;
}

.modal__container {
  width: 80vw;
  max-width: 50rem;
  height: 80vh;
  overflow: scroll;

  border-radius: var(--borderRadius);
  background: var(--white);
}

.modal__image {
  height: 15rem;
  width: 100%;
  display: block;
  object-fit: cover;
}

.modal__content {
  padding: 1rem 1.5rem;
}

.modal__content p {
  color: var(--grey-600);
}

.modal__content a {
  display: block;
  margin-bottom: 1rem;
  width: fit-content;

  color: var(--green-dark);
  transition: var(--transition);
}

.modal__content a:hover {
  color: rgb(75, 119, 75);
}

.modal__close-btn {
  border-radius: 5px;
  background-color: var(--green-dark);
  color: var(--white);

  transition: var(--transition);
}

.modal__close-btn:hover {
  background-color: rgb(75, 119, 75);
}

/*Favorites*/

.favorites {
  padding: 1rem 0;
  background-color: var(--green-light);
}

.favorites__content {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.favorites__title {
  line-height: 1;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
}

.favorites__container {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.favorites__item {
  text-align: center;
}

.favorites__image {
  width: 60px;
  border-radius: 50%;

  display: block;
  object-fit: cover;
  cursor: pointer;
}

.favorites__remove-btn {
  margin-top: 0.25rem;
  background: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  transition: var(--transition);
}
